# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Project specific (outputs)
*.png
